<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<a class="navbar-brand" ui-sref="index"  >Главная</a>
		</div>
		
		<div class="col-xs-6 col-md-4">
			
				<!-- Button trigger modal -->
				<div class="row">
					<div class="col-md-2">user</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal">
							Вход
						</button>
					</div>
			</div>
			<div login-form>
			</div>
		</div>
	</div>
</div>