<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<a class="navbar-brand" ui-sref="index"  >Главная</a>
		</div>
		
		<div class="col-xs-6 col-md-4">
			
				<!-- Button trigger modal -->
				<div class="row"  ng-controller="cUser as cU" >
					<div class="col-md-2"  ng-bind="cU.user.name"></div>
					<div class="col-md-2">
						<button  type="button" class="btn btn-primary " 
						data-toggle="modal" 
						data-target="#myModal"
						style="display:{{cU.user.ButtonEnter}};"
						>
							Вход
						</button>
					</div>
					
					<div class="col-md-2">
						<button  type="button" class="btn btn-primary " 
						
						style="display:{{cU.user.ButtonLogout}};"
						ng-click="cU.user.logout()"
						>
							Выход
						</button>
					</div>
			</div>
			<div login-form>
			</div>
		</div>
	</div>
</div>