RewriteEngine On
#Options +FollowSymlinks
#RewriteBase  /rest/server/
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
DirectoryIndex index.html
#RewriteRule ^(.*)$ index.php [L]

